.gradle
.kotlin
/local.properties
/.idea/workspace.xml
.DS_Store

*.apk
*.ap_

*.dex

*.class

bin/
gen/

.classpath
.project

/.idea/*
/*/out
/*/*/build
build
*.iml
*.iws
*.ipr
*~
*.swp
.navigation
changelog.txt

*.hprof
*.sqlite

report.xml

# IDEA/Android Studio Ignore exceptions
!/.idea/render.experimental.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyles/
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml
